header{
    height: auto;
}
#boxg{
    height: 20%;
}
#contenu{
    display: grid;
}
#evenements,#presentation{
    width: 100%
}
#menu{
    font-size: 12px;
    width: auto;
}
#navigation_li{
    margin: 0px 5px;
}
#contact{
    display: grid;
}
#formulaire,#lettres{
    width: 100%
}