body{
    width: 1200px;
    background-color: white;
    margin: 0 auto;
    font-family: "Myriad italic",sans-serif;
    font-style: oblique;
    font-size: 18px;
    color: black;
}
header{
    background-color: #426C79;
    width: 100%;
    height:120px;
    padding-top: 15px;
}
#main{
    width: 100%;
    height: auto;
    display: inline-block;
}
footer{
    background-color: #426C79;
    height: auto;
    width: 100%;
    padding-top: 25px;
}

#boxg{
    width: 50%;
    height: 60px;
    float:left;
}
#menu{
    width: 50%;
    height: 60px;
    float:left;
    background-image: linear-gradient(to left , #426C79 , aliceblue);
}
#boxd{
    width: 50%;
    height: 60px;
    float:right;
}
.boxg{
    height: 100%;
    float: left;
}
.boxd{
    height: 100%;
    float: right;
}
#navigation_li{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 0px 10px;
}
#navigation_li a:link, #navigation_li a:visited{
    color: blue;
}

#photo_menu{
    width: 100%;
}
.photo_menu{
    opacity: 50%;
    width: 100%;
}

#contenu{
    width: 100%;
    height: auto;
    display: inline-block;
}
#presentation{
    padding: 1%;
    width: 48%;
    height: 425px;
    float: left;
    background-image: linear-gradient(to top, #426C79 , white); 
}
#evenements{
    padding: 1%;
    width: 48%;
    height: 425px;
    float: left;
    background-image: linear-gradient(to top, #426C79 , white); 
}
#contact{
    display: inline-block;
    background-color: aliceblue;
    height: auto;
    width: 100%;
}
#formulaire{
    width: 50%;
    float: left;
}
#lettres{
    width: 40%;
    float: right;

}

#imgfooter{
    width: 100%;
    height: auto;
    display: inline-block;
}
#localisation{
    width: 20%;
    float: left;
    
}
#certification{
    width: 20%;
    height: auto;
    float: left;
}
.localisation{
    width: 100%;
}
.certification{
    width: 50%;
    padding: 10px 50px;

}

.copyright{
    padding-bottom: 5px;
    color: aliceblue;
    font-size: 12px;
}

#divers{
   height: 900px;
   background-color: aliceblue;
}
#charte, #formation{
    text-align: center;
    border: 2px solid black;
    border-radius: 55px;
    height: 25%;
    width: 100%;
    float: left;   
}
#geeko{
    border: 2px solid black;
    border-radius: 55px;
    height: 500px;
    width: 48%;
    float: left;   
}
#jirt{
    border: 2px solid black;
    border-radius: 55px;
    height: 500px;
    width: 48%;
    float: left;   
}

.icones{
    height: 50px;
}
#photo_pro{
    display: inline-block;
    height: auto;
    float: left;
    
}
.pro{
    height:50%;
    float: left;
    
}
#matieres{
    border: 2px solid black;
    border-radius: 55px;
    height: 500px;
    width: 48%;
    float: left;
    font-size: 17px;
    text-align: center;
}
#prof{
    width: 100%;
    background-color: aliceblue;
    display:grid;
}
#enseignant{
    width:80%;
    height: auto;
}
#photo_prof{
    width: 20%;
    height: auto;
    float:left;
}
#bio_prof{
    width:80%;
    height: 150px;
    margin-bottom: 20px;
    padding: 5px;
    float:left;
}
.photo_prof{
    width: 100%;
}