header{
    width: 100%
    height: auto;
    display: grid;
}

#boxd{
    display:none;
}
#boxg{
    width: 100%;
}

#menu{
    font-size: 14px;
    width: auto;
}
#navigation_li{
    margin: 0px 5px;
}
#geeko{
    width:100%;
}
#jirt{
    width:100%;
}
#charte{
    height: auto;
}
#divers{
    display: grid;
    height: auto;
}
#formation{
    height: auto;
}
#matieres{
    height: auto;
    width: auto;
}